<h2 mat-dialog-title class="text-xl/8">{{ title }}</h2>
<div class="actionbar">
	<div class="actionbar-start">
		<mat-checkbox class="selector_action-is_assist_students" [(ngModel)]="dataService.deck.options.isAssistStudents" color="accent">
			<!-- i18n -->
			{{ dataService.i18n.selector_is_assist_students }}
		</mat-checkbox>
	</div>

	<div class="actionbar-end">
		<mat-checkbox class="selector_action-show_duplicated_students" [(ngModel)]="dataService.deck.options.showStudentName" color="accent">
			<!-- i18n -->
			{{ dataService.i18n.selector_show_student_name }}
		</mat-checkbox>
		<mat-checkbox
			class="selector_action-show_duplicated_students"
			[(ngModel)]="dataService.deck.options.showDuplicatedStudents"
			color="accent"
		>
			<!-- i18n -->
			{{ dataService.i18n.selector_show_duplicated_students }}
		</mat-checkbox>
		<mat-checkbox class="selector_action-show_future_students" [(ngModel)]="dataService.deck.options.showFutureStudents" color="accent">
			<!-- i18n -->
			{{ dataService.i18n.selector_show_future_students }}
		</mat-checkbox>
	</div>
</div>
<div class="actionbar">
	<div class="flex -space-x-px selector_action-filter_bullet_type">
		<button
			*ngFor="let option of dataService.bulletTypeOptions"
			class="!rounded-none first:!rounded-l last:!rounded-r"
			mat-stroked-button
			[color]="option.id"
			[class.button-selected]="selectedBulletTypeOptions.has(option.id)"
			(click)="handleClickFilterBulletTypeOption(option.id)"
		>
			{{ option.label }}
		</button>
	</div>

	<div class="flex -space-x-px selector_action-filter_armor_type">
		<button
			*ngFor="let option of dataService.armorTypeOptions"
			class="!rounded-none first:!rounded-l last:!rounded-r"
			mat-stroked-button
			[color]="option.id"
			[class.button-selected]="selectedArmorTypeOptions.has(option.id)"
			(click)="handleClickFilterArmorTypeOption(option.id)"
		>
			{{ option.label }}
		</button>
	</div>

	<div class="flex -space-x-px selector_action-filter_squad_type">
		<button
			*ngFor="let option of dataService.squadTypeOptions"
			class="!rounded-none first:!rounded-l last:!rounded-r"
			mat-stroked-button
			[color]="option.id"
			[class.button-selected]="selectedSquadTypeOptions.has(option.id)"
			(click)="handleClickFilterSquadTypeOption(option.id)"
		>
			{{ option.label }}
		</button>
	</div>

	<div class="flex -space-x-px selector_action-filter_adaptation_type">
		<button
			*ngFor="let option of dataService.terrainOptions"
			class="!rounded-none first:!rounded-l last:!rounded-r"
			mat-stroked-button
			color="Terrain"
			[class.button-selected]="selectedTerrainOptions.has(option.id)"
			(click)="handleClickFilterTerrainOption(option.id)"
		>
			<mat-icon [svgIcon]="'terrain_' + option.id"></mat-icon>
			{{ option.label }}
		</button>
	</div>
</div>

<mat-divider></mat-divider>

<div class="flex flex-wrap justify-center items-center my-3 gap-2" mat-dialog-content>
	<ba-student-icon
		*ngFor="let id of missingStudents"
		[id]="id"
		[terrain]="dataService.deck.selectedSquad.terrain"
		(click)="handleClickStudent(id)"
		[hideName]="!dataService.deck.options.showStudentName"
	></ba-student-icon>
</div>
