@import "../equipment-card/equipment-card.component.less";

:host {
	width: 108px;
	height: auto;

	&.is-deficit .difference {
		color: #e4583e;
		font-weight: bold;
	}
	&.is-surplus .difference {
		color: #85ce4f;
		font-weight: bold;
	}
}

.base {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: var(--spacing-small);
	align-items: center;
}

.figure {
	width: 84px;
}

.rate {
	position: absolute;
	right: 2px;
	bottom: 2px;
	line-height: 1;
}

.name {
	margin-top: var(--spacing-xx-small);
	margin-left: calc(-1 * var(--spacing-x-small));
	margin-right: calc(-1 * var(--spacing-x-small));
	font-size: 14px;
	text-align: center;
	flex-grow: 1;
}

.amounts {
	margin-top: var(--spacing-xx-small);
}

.amount {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.amount-label {
	margin-right: var(--spacing-xx-small);
	white-space: nowrap;
}

.amount-value {
	input {
		width: 100%;
		border-radius: var(--border-radius-medium);
	}
}

.stock-input {
	border: 1px solid #eee;
	padding: var(--spacing-xx-small);
}
