<div class="flex flex-col gap-1 items-center w-[108px] h-auto p-3 shadow-neutral-400" [class.shadow-sm]="!hideShadow">
	<div class="w-[84px] select-none relative" mat-ripple [title]="name" [attr.tier]="tier" (click)="handleClickIcon()">
		<img class="w-full object-cover" loading="lazy" [src]="iconUrl" />
		<div
			*ngIf="tier != null"
			class="font-bold text-sm/none px-1 py-px m-0.5 absolute bottom-0 left-0 text-sky-600 bg-white border border-current rounded-md -skew-x-10"
		>
			T{{ tier }}
		</div>
		<div *ngIf="rate != null" class="absolute right-0 bottom-0 m-0.5 text-xs/none">{{ rate | percent }}</div>
	</div>
	<ng-template *ngIf="!hideName">
		<div class="-mx-2 text-sm text-center grow">
			<a [href]="dbUrl" target="_blank" rel="noopener noreferrer" tabindex="-1">{{ name }}</a>
		</div>
	</ng-template>
	<div>
		<div class="flex items-center justify-center gap-1 required">
			<!-- i18n -->
			<div class="whitespace-nowrap">{{ dataService.i18n.item_required }}:</div>
			<div>{{ dataService.deck.selectedSquad.required[id] }}</div>
		</div>
		<div class="flex items-center justify-center gap-1">
			<!-- i18n -->
			<div class="whitespace-nowrap">{{ deficit ? dataService.i18n.item_deficit : dataService.i18n.item_surplus }}:</div>
			<div class="font-bold" [class.text-red-500]="deficit" [class.text-lime-500]="!deficit">
				{{
					deficit
						? dataService.deck.selectedSquad.required[id] - dataService.deck.stocks[id]
						: dataService.deck.stocks[id] - dataService.deck.selectedSquad.required[id]
				}}
			</div>
		</div>
		<div class="flex items-center justify-center gap-1 stock">
			<div>
				<input
					class="block w-full p-1 border border-gray-200"
					type="number"
					[attr.name]="'stock-input-' + id"
					[(ngModel)]="dataService.deck.stocks[id]"
					[min]="0"
					[step]="1"
					(focus)="handleFocusStock($event)"
				/>
			</div>
		</div>
	</div>
</div>
