.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	margin: var(--spacing-small) 0;
}

.options {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	gap: var(--spacing-x-small);
	margin: var(--spacing-small) 0;
	padding: 0 var(--spacing-x-small);
}

.mat-tab-group {
	::ng-deep .mat-tab-header {
		border-top: 1px solid rgba(0, 0, 0, 0.12);
	}

	::ng-deep .mat-tab-label-content {
		user-select: none;
	}

	&.squad-tabs ::ng-deep {
		.squad_action-input_name,
		.squad_action-move_left,
		.squad_action-move_right {
			display: none;
		}

		.squad_action-input_name {
			width: 110px;
			border: 1px solid #cfd4da;
			text-align: center;
			font: inherit;
			padding: var(--spacing-xxx-small) var(--spacing-xx-small);
			border-radius: 4px;
		}

		.mat-tab-label-active {
			padding-left: 0;
			padding-right: 0;
			position: relative;

			.squad_action-input_name {
				display: block;
			}
			.squad_action-name {
				display: none;
			}

			.squad_action-move_left,
			.squad_action-move_right {
				display: block;
				position: absolute;
				width: 24px;
				height: 24px;
				line-height: 24px;
			}

			.squad_action-move_left {
				left: 0;
			}
			.squad_action-move_right {
				right: 0;
			}
		}

		.mat-tab-disabled {
			opacity: 1;
			min-width: 0;
			aspect-ratio: 1/1;
			color: inherit;
			padding: 0;
		}
	}
}

.options-spacer {
	margin-right: auto;
}
.options-spacer + * {
	margin-left: auto;
}

.student_sort-option,
.item_sort-option {
	line-height: 40px;
	height: 40px;
}

.student_action-direction,
.item_action-direction {
	padding: 0;
	min-width: 36px;

	.mat-icon:first-child {
		left: 6px;
		position: relative;
	}
}

ba-student-card {
	margin: var(--spacing-xx-small);
}

ba-item-icon {
	margin: var(--spacing-xx-small);

	.hide-surplus &.surplus {
		display: none;
	}
	.hide-secret_stones &[category="secretstone"] {
		display: none;
	}
}

ba-campaign-card {
	margin: var(--spacing-small) var(--spacing-x-small);
}
