.students {
	min-height: 313px;
}

ba-student-card {
	margin: var(--spacing-x-small);
}

.items-tabs {
	min-height: 300px;
}

.mat-tab-group {
	::ng-deep .mat-tab-header {
		border-top: 1px solid rgba(0, 0, 0, 0.12);
	}

	::ng-deep .mat-tab-label-content {
		user-select: none;
	}

	&.squad-tabs ::ng-deep {
		.squad_action-input_name,
		.squad_action-move_left,
		.squad_action-move_right {
			display: none;
		}

		.squad-icon {
			display: block;
			width: 32px;
			height: 32px;
			border-radius: 9999px;
			background: #4f6395;
			object-fit: cover;
			pointer-events: none;
		}

		.squad_action-input_name {
			margin-left: var(--spacing-xx-small);
			width: 120px;
			border: 1px solid #eee;
			text-align: center;
			font: inherit;
			padding: var(--spacing-xxx-small) var(--spacing-xx-small);
			border-radius: var(--border-radius-medium);
		}

		.squad_action-name {
			opacity: 0.6;
			margin-left: var(--spacing-xx-small);
		}

		.mat-tab-label {
			opacity: 1;
		}

		.squad-pinned {
			&.mat-tab-label {
				min-width: 0;
				padding: 0;
				justify-content: flex-start;
				margin-left: -1px;

				&:not(.mat-tab-label-active) {
					max-width: 80px;

					.squad_action-name {
						display: none;
					}
				}

				.squad_action-name {
					opacity: 1;
				}

				.mat-tab-label-content {
					overflow: hidden;
					justify-content: flex-start;
					border-left: 1px solid rgba(0, 0, 0, 0.12);
					border-right: 1px solid rgba(0, 0, 0, 0.12);
					padding: 0 8px;
				}
			}
		}

		.squad-unpinned {
			&.mat-tab-label-active {
				position: relative;

				.squad-icon {
					pointer-events: auto;
				}
				.squad_action-input_name {
					display: block;
				}
				.squad_action-name {
					display: none;
				}

				.squad_action-move_left,
				.squad_action-move_right {
					display: block;
					position: absolute;
					width: 24px;
					height: 24px;
					line-height: 24px;
				}

				.squad_action-move_left {
					left: 0;
				}
				.squad_action-move_right {
					right: 0;
				}
			}
		}

		.mat-tab-disabled {
			opacity: 1;
			min-width: 0;
			aspect-ratio: 1/1;
			color: inherit;
			padding: 0;
		}
	}
}

.terrain-option {
	&.mat-menu-item,
	::ng-deep .mat-button-wrapper {
		display: flex;
		align-items: center;
	}
	img {
		filter: invert(1);
		height: 2em;
	}
}
