<mat-tab-group
	mat-stretch-tabs="false"
	animationDuration="0"
	disablePagination="false"
	[selectedIndex]="dataService.deck.selectedSquadId"
	(selectedTabChange)="handleTabChangeSquad($event)"
>
	<mat-tab *ngFor="let squad of dataService.deck.squads" [labelClass]="squad.pinned ? 'squad-pinned' : 'squad-unpinned'">
		<ng-template mat-tab-label>
			<div class="flex items-center">
				<button
					mat-icon-button
					class="squad_action-move_left !p-0 !overflow-hidden"
					(mousedown)="handleMousedownSquadStopPropagation($event)"
					(click)="handleClickSquadMoveLeft()"
				>
					<mat-icon>chevron_left</mat-icon>
				</button>
				<img
					class="w-8 h-8 rounded-full bg-slate-500 object-cover pointer-events-none squad-icon"
					[src]="squad.icon === '' ? squad.autoIcon : squad.icon"
					(mousedown)="handleMousedownSquadStopPropagation($event)"
					(click)="handleClickIconSelector()"
				/>
				<div class="squad_action-name grid items-center justify-items-stretch ml-1 font-medium">
					<input
						class="col-start-1 row-start-1 py-0.5 px-1 min-w-0 text-center rounded-sm ring-1 ring-gray-200 invisible squad_action-input_name"
						type="text"
						size="1"
						[attr.name]="'squad-name-' + squad.id"
						[(ngModel)]="squad.name"
					/>
					<div class="col-start-1 row-start-1 py-0.5 px-1 text-center whitespace-pre squad_action-text_name">{{ squad.name }}</div>
				</div>
				<button
					mat-icon-button
					class="squad_action-move_right !p-0 !overflow-hidden"
					(mousedown)="handleMousedownSquadStopPropagation($event)"
					(click)="handleClickSquadMoveRight()"
				>
					<mat-icon>chevron_right</mat-icon>
				</button>
			</div>
		</ng-template>
	</mat-tab>
	<mat-tab labelClass="!px-1 !min-w-min !opacity-100" disabled>
		<ng-template mat-tab-label>
			<button mat-icon-button color="primary" class="squad_action-add" (click)="handleClickSquadAdd()"><mat-icon>add_circle</mat-icon></button>
		</ng-template>
	</mat-tab>
</mat-tab-group>

<div class="actionbar">
	<div class="actionbar-start">
		<!-- i18n -->
		<button
			class="squad_action-remove"
			mat-stroked-button
			color="warn"
			(click)="handleClickSquadRemove()"
			[disabled]="dataService.deck.squads.length === 1"
		>
			<mat-icon>block</mat-icon> {{ dataService.i18n.squad_action_remove }}
		</button>

		<!-- i18n -->
		<button class="student_action-target" mat-stroked-button [color]="isTarget ? 'accent' : 'basic'" (click)="handleClickTarget()">
			<mat-icon>gps_fixed</mat-icon> {{ dataService.i18n.student_action_target }}
		</button>

		<!-- i18n -->
		<button class="student_action-add" mat-stroked-button color="primary" (click)="handleClickSelector()">
			<mat-icon>person_add</mat-icon> {{ dataService.localization.UI["student"] }}
		</button>
	</div>

	<div class="actionbar-end">
		<!-- i18n -->
		<button
			class="icon-button squad_action-pin"
			mat-stroked-button
			[color]="dataService.deck.selectedSquad.pinned ? 'accent' : 'basic'"
			(click)="handleClickSquadPin()"
			[matTooltip]="dataService.i18n.squad_action_pin"
		>
			<mat-icon>push_pin</mat-icon>
		</button>

		<!-- i18n -->
		<button
			class="icon-button squad_action-bound"
			mat-stroked-button
			[color]="dataService.deck.selectedSquad.bounded ? 'accent' : 'basic'"
			(click)="handleClickSquadBound()"
		>
			<mat-icon>looks_6</mat-icon>
		</button>

		<!-- i18n -->
		<button
			class="icon-button squad_action-text"
			mat-stroked-button
			color="primary"
			(click)="handleClickSquadText()"
			[matTooltip]="dataService.i18n.squad_action_text"
		>
			<mat-icon>text_snippet</mat-icon>
		</button>

		<!-- i18n -->
		<button class="flex items-center squad_action-terrain" mat-stroked-button [matMenuTriggerFor]="squadTerrainMenu">
			<mat-icon [svgIcon]="'terrain_' + selectedTerrainOption.id"></mat-icon>&nbsp;{{ selectedTerrainOption.label }}
		</button>

		<mat-menu #squadTerrainMenu="matMenu" class="squad_terrain-options options-terrain-options" xPosition="before">
			<button
				*ngFor="let terrainOption of dataService.terrainOptions"
				class="flex items-center options-terrain-option"
				mat-menu-item
				(click)="handleClickSquadTerrainOption(terrainOption.id)"
			>
				<mat-icon [svgIcon]="'terrain_' + terrainOption.id"></mat-icon> {{ terrainOption.label }}
			</button>
		</mat-menu>

		<!-- i18n -->
		<button class="student_action-sort" mat-stroked-button [matMenuTriggerFor]="studentSortMenu">
			<mat-icon>sort</mat-icon> {{ dataService.localization.UI["sortby"] }}
			<span>
				<mat-icon class="align-sub" *ngIf="selectedStudentSortOption?.label === 'star'; else selectedStudentSortOptionsTextLabel" inline="true"
					>star</mat-icon
				>
				<ng-template #selectedStudentSortOptionsTextLabel>{{ selectedStudentSortOption?.label }}</ng-template>
			</span>
		</button>

		<mat-menu #studentSortMenu="matMenu" class="student_sort-options" xPosition="before">
			<button
				*ngFor="let sortOption of dataService.studentSortOptions"
				class="student_sort-option"
				mat-menu-item
				(click)="handleClickStudentSortOption(sortOption.id)"
			>
				<mat-icon *ngIf="sortOption?.label === 'star'; else sortOptionsTextLabel">star</mat-icon>
				<ng-template #sortOptionsTextLabel>{{ sortOption?.label }}</ng-template>
			</button>
		</mat-menu>

		<button class="icon-button student_action-direction" mat-stroked-button (click)="handleClickStudentSortDirection()">
			<mat-icon>{{ this.selectedStudentSortDirection === -1 ? "arrow_upward" : "arrow_downward" }}</mat-icon>
		</button>
	</div>
</div>

<div
	class="flex flex-wrap justify-center my-3 min-h-72 gap-4"
	[class.max-w-bounded]="dataService.deck.selectedSquad.bounded"
	[class.mx-auto]="dataService.deck.selectedSquad.bounded"
	[sortablejs]="dataService.deck.selectedSquad.students"
	[sortablejsOptions]="sortableOptions"
>
	<ba-student-card
		*ngFor="let student of dataService.deck.selectedSquad.students"
		[id]="student"
		[terrain]="dataService.deck.selectedSquad.terrain"
	></ba-student-card>
</div>

<mat-tab-group
	mat-stretch-tabs="false"
	animationDuration="0"
	disablePagination="false"
	[selectedIndex]="selectedTab"
	(selectedIndexChange)="handleChangeTab($event)"
>
	<mat-tab>
		<!-- i18n -->
		<ng-template mat-tab-label>{{ dataService.localization.UI["item"] }}</ng-template>
		<ng-template matTabContent>
			<ba-tab-items></ba-tab-items>
		</ng-template>
	</mat-tab>
	<mat-tab>
		<!-- i18n -->
		<ng-template mat-tab-label>{{ dataService.localization.UI["stages"] }}</ng-template>
		<ng-template matTabContent>
			<ba-tab-campaigns></ba-tab-campaigns>
		</ng-template>
	</mat-tab>
	<mat-tab>
		<!-- i18n -->
		<ng-template mat-tab-label>{{ dataService.localization.ItemCategory.SecretStone }}</ng-template>
		<ng-template matTabContent>
			<ba-tab-elephs></ba-tab-elephs>
		</ng-template>
	</mat-tab>
	<mat-tab>
		<!-- i18n -->
		<ng-template mat-tab-label>{{ dataService.localization.ItemCategory.Favor }}</ng-template>
		<ng-template matTabContent>
			<ba-tab-favor></ba-tab-favor>
		</ng-template>
	</mat-tab>
	<mat-tab>
		<!-- i18n -->
		<ng-template mat-tab-label>{{ dataService.localization.UI["ex_gear"] }}</ng-template>
		<ng-template matTabContent>
			<ba-tab-gears></ba-tab-gears>
		</ng-template>
	</mat-tab>
	<mat-tab>
		<!-- i18n -->
		<ng-template mat-tab-label>{{ dataService.localization.ShopCategory["Arena"] }}</ng-template>
		<ng-template matTabContent>
			<ba-tab-arena></ba-tab-arena>
		</ng-template>
	</mat-tab>
</mat-tab-group>
