<h2 mat-dialog-title><mat-icon>settings</mat-icon> {{ title }}</h2>
<div mat-dialog-content>
	<div class="flex items-center my-3 gap-3">
		<div class="w-56">{{ languageLabel }}</div>
		<div>
			<button mat-stroked-button [matMenuTriggerFor]="languageMenu">
				{{ selectedLanguageOption.label }}
			</button>

			<mat-menu #languageMenu="matMenu" xPosition="after">
				<button
					*ngFor="let option of dataService.languageOptions"
					class="language-option"
					[value]="option.id"
					mat-menu-item
					(click)="handleClickLanguageOption(option.id)"
					[lang]="option.code"
				>
					{{ option.label }}
				</button>
			</mat-menu>
		</div>
	</div>
	<div class="flex items-center my-3 gap-3">
		<div class="w-56">{{ regionLabel }}</div>
		<div>
			<button mat-stroked-button [matMenuTriggerFor]="regionMenu">
				{{ selectedRegionOption.label }}
			</button>

			<mat-menu #regionMenu="matMenu" xPosition="after">
				<button
					*ngFor="let option of dataService.regionOptions"
					class="region-option"
					[value]="option.id"
					mat-menu-item
					(click)="handleClickRegionOption(option.id)"
				>
					{{ option.label }}
				</button>
			</mat-menu>
		</div>
	</div>

	<mat-divider></mat-divider>
	<div class="flex items-center my-3 gap-3">
		<!-- i18n -->
		<div class="w-56 text-right text-xs">{{ dataService.i18n.setting_save_notice }}</div>
		<div>
			<!-- i18n -->
			<button mat-stroked-button color="primary" (click)="handleClickSave()">
				<mat-icon>save</mat-icon> {{ dataService.i18n.setting_save }}
			</button>
		</div>
	</div>
</div>
