<mat-card class="mat-elevation-z2">
	<mat-card-header>
		<img mat-card-avatar loading="lazy" [src]="iconUrl" />
		<mat-card-title>{{ type }} {{ difficulty }}{{ area }}-{{ stage }}</mat-card-title>
		<mat-card-subtitle>{{ name }}</mat-card-subtitle>
		<mat-card-title class="stats">
			<!-- TODO: i18n -->
			<div class="stat">刷图: {{ amount }}</div>
			<!-- TODO: i18n -->
			<div class="stat">AP: {{ cost }}</div>
		</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="rewards">
			<ba-item-icon *ngFor="let reward of rewards" [id]="reward[0]" [rate]="reward[1]"></ba-item-icon>
		</div>
	</mat-card-content>
	<!-- TODO: i18n -->
</mat-card>
