:host {
	display: block;
}

mat-toolbar {
	position: sticky;
	top: 0;
	z-index: 501;

	.toolbar-title {
		margin: 0 var(--spacing-x-small);
		display: flex;
		gap: var(--spacing-x-small);
	}
	.toolbar-spacer {
		flex: 1 1 auto;
	}
}

main {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	padding: var(--spacing-small) var(--spacing-large);

	& > router-outlet {
		display: none;
	}

	::ng-deep > * {
		display: block;
		min-height: 100%;
		min-width: 100%;
	}
}

footer {
	padding: var(--spacing-large);
	color: #6e6e6e;
	background-color: #e0e0e0;

	ul {
		list-style: none none;
		margin: var(--spacing-x-small) 0;
		padding: 0;
	}

	li {
		margin: var(--spacing-xx-small) 0;
		text-align: center;
	}

	a {
		font-weight: bold;
		text-decoration: none;
	}
}
