<mat-toolbar color="primary" class="mat-elevation-z4">
	<span class="toolbar-title">
		<img src="/assets/icons/icon-32x32.png" width="32" height="32" />
		{{ title }}
	</span>
	<span class="toolbar-spacer"></span>
	<button class="action-export" mat-icon-button [matTooltip]="action_export" (click)="handleClickExport()">
		<mat-icon>import_export</mat-icon>
	</button>
	<button class="action-options" mat-icon-button [matTooltip]="action_setting" (click)="handleClickSetting()">
		<mat-icon>settings</mat-icon>
	</button>
	<button class="action-save" mat-icon-button [matTooltip]="action_save" (click)="handleClickSave()">
		<mat-icon>save</mat-icon>
	</button>
</mat-toolbar>
<main>
	<router-outlet></router-outlet>
</main>
<footer>
	<ul>
		<li>{{ desc }}</li>
		<li>
			{{ footer_1_start }}
			<a href="https://pcredivewiki.tw/Armory" target="_blank" rel="noopener noreferrer">蘭德索爾圖書館</a>{{ footer_1_end }}
		</li>
		<li>
			{{ footer_2_start }}<a href="https://github.com/lonqie/SchaleDB" target="_blank" rel="noopener noreferrer">SchaleDB</a>{{ footer_2_end }}
		</li>
		<li>{{ footer_3_start }}{{ footer_3_end }}</li>
	</ul>
	<ul>
		<li><a href="https://github.com/arumi-s/ba-armory" target="_blank" rel="noopener noreferrer">Github</a></li>
	</ul>
</footer>
