<mat-toolbar color="primary" class="sticky top-0 z-20 shadow-md shadow-neutral-400 text-xl/8 font-medium">
	<div class="flex my-0 mx-2 gap-2 items-center">
		<img src="/assets/icons/icon-32x32.png" width="32" height="32" />
		<div class="text-lg/none">{{ title }}</div>
	</div>
	<div class="ml-auto"></div>
	<button class="action-export" mat-icon-button [matTooltip]="action_export" (click)="handleClickExport()">
		<mat-icon>import_export</mat-icon>
	</button>
	<button class="action-options" mat-icon-button [matTooltip]="action_setting" (click)="handleClickSetting()">
		<mat-icon>settings</mat-icon>
	</button>
	<button class="action-save" mat-icon-button [matTooltip]="action_save" (click)="handleClickSave()">
		<mat-icon>save</mat-icon>
	</button>
</mat-toolbar>
<main class="relative m-4">
	<router-outlet class="hidden"></router-outlet>
</main>
<footer class="py-6 px-8 text-neutral-500 bg-neutral-200 mt-auto flex gap-4 items-end">
	<ul class="space-y-1">
		<li>{{ desc }}</li>
		<li>
			{{ footer_1_start }}
			<a class="font-bold" href="https://pcredivewiki.tw/Armory" target="_blank" rel="noopener noreferrer">蘭德索爾圖書館</a>{{ footer_1_end }}
		</li>
		<li>
			{{ footer_2_start }}<a class="font-bold" href="https://github.com/lonqie/SchaleDB" target="_blank" rel="noopener noreferrer">SchaleDB</a
			>{{ footer_2_end }}
		</li>
		<li>{{ footer_3_start }}{{ footer_3_end }}</li>
	</ul>
	<div class="ml-auto">
		<a class="font-bold" href="https://github.com/arumi-s/ba-armory" target="_blank" rel="noopener noreferrer">Github</a>
	</div>
</footer>
