<mat-card class="mat-elevation-z3">
	<mat-card-header>
		<img mat-card-avatar loading="lazy" [src]="collectionTextureUrl" [alt]="name" />
		<mat-card-title>{{ name }}</mat-card-title>
		<mat-card-subtitle>{{ school }}</mat-card-subtitle>
		<div class="tags">
			<button mat-flat-button tabindex="-1" size="small" [color]="bulletType" [title]="bulletTypeText">
				<mat-icon svgIcon="bullet_type"></mat-icon>
			</button>
			<button mat-flat-button tabindex="-1" size="small" [color]="armorType" [title]="armorTypeText">
				<mat-icon svgIcon="armor_type"></mat-icon>
			</button>
		</div>
		<img class="school_icon" loading="lazy" [src]="schoolIconUrl" />
	</mat-card-header>
	<mat-card-content>
		<div class="stats">
			<div class="stats-level">
				<input
					type="number"
					[(ngModel)]="model.level"
					[min]="model.levelMin"
					[max]="model.levelMax"
					[step]="1"
					(focus)="handleFocusLevel($event)"
				/>
			</div>
			<div class="stats-star">
				<bar-rating *ngIf="!isTarget; else isTargetStar" [(rate)]="model.star" [max]="5" [attr.value]="model.star">
					<ng-template ratingActive>
						<mat-icon color="ratingActive">star</mat-icon>
					</ng-template>
					<ng-template ratingInactive>
						<mat-icon color="ratingInactive">star</mat-icon>
					</ng-template>
				</bar-rating>
				<ng-template #isTargetStar>
					<bar-rating
						class="is_target-show"
						[class.is_target-reached]="model.star === model.starTarget"
						[(rate)]="model.starTarget"
						[max]="5"
						[attr.value]="model.starTarget"
					>
						<ng-template ratingActive>
							<mat-icon color="ratingActive">star</mat-icon>
						</ng-template>
						<ng-template ratingInactive>
							<mat-icon color="ratingInactive">star</mat-icon>
						</ng-template>
					</bar-rating>
				</ng-template>
			</div>
			<div class="stats-weapon">
				<bar-rating
					*ngIf="!isTarget; else isTargetWeapon"
					[attr.disabled]="model.star === 5 ? null : 'disabled'"
					[(rate)]="model.weapon"
					[max]="3"
				>
					<ng-template ratingActive>
						<mat-icon color="ratingActiveAlt">star</mat-icon>
					</ng-template>
					<ng-template ratingInactive>
						<mat-icon color="ratingInactive">star</mat-icon>
					</ng-template>
				</bar-rating>
				<ng-template #isTargetWeapon>
					<bar-rating
						class="is_target-show"
						[class.is_target-reached]="model.weapon === model.weaponTarget"
						[(rate)]="model.weaponTarget"
						[max]="3"
					>
						<ng-template ratingActive>
							<mat-icon color="ratingActiveAlt">star</mat-icon>
						</ng-template>
						<ng-template ratingInactive>
							<mat-icon color="ratingInactive">star</mat-icon>
						</ng-template>
					</bar-rating>
				</ng-template>
			</div>
		</div>
		<div class="skills">
			<ba-skill-card *ngFor="let skill of model.skills" [model]="skill" [isTarget]="isTarget"></ba-skill-card>
		</div>
		<div class="equipments">
			<ba-equipment-card *ngFor="let equipment of model.equipments" [model]="equipment" [isTarget]="isTarget"></ba-equipment-card>
			<ba-gear-card [id]="id" [isTarget]="isTarget"></ba-gear-card>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<!-- TODO: i18n -->
		<button class="action-remove" mat-button color="warn" tabindex="-1" size="small" (click)="handleClickDelete()">
			<mat-icon>block</mat-icon> {{ action_remove }}
		</button>
		<!-- TODO: i18n -->
		<button class="action-upgrade" mat-button color="basic" tabindex="-1" size="small" [disabled]="isUpgraded" (click)="handleClickUpgrade()">
			<mat-icon>upgrade</mat-icon> {{ action_upgrade }}
		</button>
		<!-- TODO: i18n -->
		<button
			class="action-target"
			mat-flat-button
			[color]="isTarget ? 'accent' : 'basic'"
			tabindex="-1"
			size="small"
			(click)="handleClickTarget()"
		>
			<mat-icon>gps_fixed</mat-icon> {{ action_target }}
		</button>
	</mat-card-actions>
	<mat-card-footer></mat-card-footer>
</mat-card>
