<div class="w-60 shadow-md rounded-md shadow-neutral-400 space-y-2">
	<div class="relative flex flex-row p-2 bg-sky-100 gap-2" [class.bg-yellow-100]="isAlt">
		<img class="h-12.5 w-12.5 cursor-grab rounded-full object-cover shrink-0" loading="lazy" [src]="collectionTextureUrl" [alt]="name" />
		<div class="flex-1 flex flex-col overflow-hidden justify-between">
			<a
				class="text-lg/6 font-semibold whitespace-nowrap overflow-hidden text-ellipsis"
				[href]="dbUrl"
				target="_blank"
				rel="noopener noreferrer"
				tabindex="-1"
				>{{ name }}</a
			>
			<div class="flex items-center gap-1 select-none">
				<div [class]="'rounded p-1 text-white bg-' + bulletType" [matTooltip]="bulletTypeText">
					<mat-icon class="!block !h-4 !w-4" svgIcon="bullet_type"></mat-icon>
				</div>
				<div [class]="'rounded p-1 text-white bg-' + armorType" [matTooltip]="armorTypeText">
					<mat-icon class="!block !h-4 !w-4" svgIcon="armor_type"></mat-icon>
				</div>
				<div [class]="'rounded py-1 px-2 text-white text-xs/4 bg-' + squadType">
					{{ squadTypeText }}
				</div>
				<img class="ml-auto h-6" [src]="adaptationIcon" alt="" />
			</div>
		</div>
		<img class="invert opacity-15 h-full absolute right-0 top-0 pointer-events-none" loading="lazy" [src]="schoolIconUrl" />
	</div>
	<div class="px-2 space-y-2">
		<div class="flex justify-between items-center text-lg/none">
			<div class="flex text-lg/5 items-center">
				<div>Lv.</div>
				<input
					class="block w-10"
					type="number"
					[attr.name]="'stats-level-' + id"
					[(ngModel)]="model.level"
					[min]="model.levelMin"
					[max]="model.levelMax"
					[step]="1"
					(focus)="handleFocusLevel($event)"
				/>
			</div>
			<div>
				<bar-rating *ngIf="!isTarget; else isTargetStar" [(rate)]="model.star" [max]="5" [attr.value]="model.star">
					<ng-template ratingActive>
						<mat-icon class="text-yellow-500">star</mat-icon>
					</ng-template>
					<ng-template ratingInactive>
						<mat-icon class="text-zinc-400">star</mat-icon>
					</ng-template>
				</bar-rating>
				<ng-template #isTargetStar>
					<bar-rating
						class="is_target-show"
						[class.is_target-reached]="model.star === model.starTarget"
						[(rate)]="model.starTarget"
						[max]="5"
						[attr.value]="model.starTarget"
					>
						<ng-template ratingActive>
							<mat-icon class="text-yellow-500">star</mat-icon>
						</ng-template>
						<ng-template ratingInactive>
							<mat-icon class="text-zinc-400">star</mat-icon>
						</ng-template>
					</bar-rating>
				</ng-template>
			</div>
			<div>
				<bar-rating
					*ngIf="!isTarget; else isTargetWeapon"
					[attr.disabled]="model.star === 5 ? null : 'disabled'"
					[(rate)]="model.weapon"
					[max]="3"
				>
					<ng-template ratingActive>
						<mat-icon class="text-sky-400">star</mat-icon>
					</ng-template>
					<ng-template ratingInactive>
						<mat-icon class="text-zinc-400">star</mat-icon>
					</ng-template>
				</bar-rating>
				<ng-template #isTargetWeapon>
					<bar-rating
						class="is_target-show"
						[class.is_target-reached]="model.weapon === model.weaponTarget"
						[(rate)]="model.weaponTarget"
						[max]="3"
					>
						<ng-template ratingActive>
							<mat-icon class="text-sky-400">star</mat-icon>
						</ng-template>
						<ng-template ratingInactive>
							<mat-icon class="text-zinc-400">star</mat-icon>
						</ng-template>
					</bar-rating>
				</ng-template>
			</div>
		</div>
		<div class="flex gap-2">
			<ba-skill-card *ngFor="let skill of model.skills" [model]="skill" [isTarget]="isTarget"></ba-skill-card>
		</div>
		<div class="flex gap-2">
			<ba-equipment-card *ngFor="let equipment of model.equipments" [model]="equipment" [isTarget]="isTarget"></ba-equipment-card>
			<ba-gear-card [id]="id" [isTarget]="isTarget"></ba-gear-card>
		</div>
	</div>
	<div class="flex gap-2 p-2 [&>button]:shrink-0 [&>button]:min-w-min">
		<!-- i18n -->
		<button class="!mr-auto small-button" mat-button color="warn" (click)="handleClickDelete()">
			<mat-icon>block</mat-icon> {{ action_remove }}
		</button>

		<ng-container *ngIf="!isAlt; else is_alt">
			<!-- i18n -->
			<button class="small-button" mat-button color="basic" [disabled]="isUpgraded" (click)="handleClickUpgrade()">
				<mat-icon>upgrade</mat-icon> {{ action_upgrade }}
			</button>
			<!-- i18n -->
			<button class="small-button" mat-flat-button [color]="isTarget ? 'accent' : 'basic'" (click)="handleClickTarget()">
				<mat-icon>gps_fixed</mat-icon> {{ action_target }}
			</button>
		</ng-container>

		<ng-template #is_alt>
			<!-- i18n -->
			<button class="small-button" mat-button color="basic" [disabled]="isUpgraded" (click)="handleClickMaximize()">
				<mat-icon>upgrade</mat-icon> {{ action_maximize }}
			</button>
			<!-- i18n -->
			<button class="small-button pointer-events-none" mat-button color="accent" tabindex="-1">
				<mat-icon>assistant</mat-icon> {{ action_assist }}
			</button>
		</ng-template>
	</div>
</div>
