:host {
	display: flex;
	align-items: stretch;
}

.item {
	display: flex;
	align-items: center;

	&:not(:last-child) {
		border-right: 1px solid #e0e0e0;
		padding-right: var(--spacing-medium);
		margin-right: var(--spacing-medium);
	}
}

.users {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

ba-item-icon {
	::ng-deep {
		.base {
			box-shadow: none;
		}
		.figure {
			pointer-events: none;
		}
	}
}

ba-student-icon {
	margin: var(--spacing-xx-small);
}

.amount {
	text-align: center;
	margin: var(--spacing-xx-small);
	font-size: 16px;
}
