<div class="actionbar"></div>
<div class="w-fit mx-auto space-y-3">
	<div class="flex items-center justify-between">
		<!-- i18n -->
		<div class="rank-label">{{ dataService.i18n.arena_current_rank }}</div>
		<input
			type="number"
			id="rank-input"
			name="rank-input"
			class="block w-24 border border-gray-200 rounded py-2 px-3"
			[(ngModel)]="dataService.deck.options.currentRank"
			[min]="dataService.deck.options.currentRankMin"
			[max]="dataService.deck.options.currentRankMax"
			[step]="1"
		/>
	</div>
	<div>
		<!-- i18n -->
		<div class="my-2">{{ dataService.i18n.arena_next_rank }}</div>
		<div class="grid grid-cols-5 gap-2">
			<div class="flex justify-end object-cover w-24 border border-gray-200 rounded py-2 px-3" *ngFor="let nextRank of nextRanks">
				<img class="mr-auto" *ngIf="nextRank.tierUp" [src]="rewardImage" height="20" width="20" />
				{{ nextRank.rank === 0 ? "" : nextRank.rank }}
			</div>
		</div>
	</div>
</div>
