<div class="actionbar">
	<div class="actionbar-end">
		<!-- i18n -->
		<button class="eleph_action-sort" mat-stroked-button [matMenuTriggerFor]="elephSortMenu">
			<mat-icon>sort</mat-icon>
			<span>
				{{ dataService.localization.ui["sortby"] }}
				{{ selectedElephSortOption?.label }}
			</span>
		</button>

		<mat-menu #elephSortMenu="matMenu" class="eleph_sort-options" xPosition="before">
			<button
				*ngFor="let sortOptions of dataService.elephSortOptions"
				class="eleph_sort-option"
				[value]="sortOptions.id"
				mat-menu-item
				(click)="handleClickElephSortOption(sortOptions.id)"
			>
				{{ sortOptions?.label }}
			</button>
		</mat-menu>

		<button class="icon-button eleph_action-direction" mat-stroked-button (click)="handleClickElephSortDirection()">
			<mat-icon>{{ this.selectedElephSortDirection === -1 ? "arrow_upward" : "arrow_downward" }}</mat-icon>
		</button>
	</div>
</div>
<div class="flex flex-wrap justify-center items-stretch my-3 gap-4">
	<ba-eleph-card *ngFor="let id of ids" [id]="id"></ba-eleph-card>
</div>
