<h2 mat-dialog-title class="text-xl/8 flex items-center gap-2"><mat-icon>text_snippet</mat-icon> {{ title }}</h2>
<div class="actionbar">
	<mat-checkbox class="text_action-show_star" [(ngModel)]="dataService.deck.options.showSquadTextStar" color="accent">
		<!-- i18n -->
		{{ starText }}
	</mat-checkbox>
	<mat-checkbox class="text_action-show_level" [(ngModel)]="dataService.deck.options.showSquadTextLevel" color="accent">
		<!-- i18n -->
		{{ levelText }}
	</mat-checkbox>
	<mat-checkbox class="text_action-show_skills" [(ngModel)]="dataService.deck.options.showSquadTextSkills" color="accent">
		<!-- i18n -->
		{{ skillsText }}
	</mat-checkbox>
	<mat-checkbox class="text_action-show_equipments" [(ngModel)]="dataService.deck.options.showSquadTextEquipments" color="accent">
		<!-- i18n -->
		{{ equipmentsText }}
	</mat-checkbox>
	<mat-checkbox class="text_action-show_weapon" [(ngModel)]="dataService.deck.options.showSquadTextWeapon" color="accent">
		<!-- i18n -->
		{{ weaponText }}
	</mat-checkbox>
	<mat-checkbox class="text_action-show_gear" [(ngModel)]="dataService.deck.options.showSquadTextGear" color="accent">
		<!-- i18n -->
		{{ gearText }}
	</mat-checkbox>
</div>

<mat-divider></mat-divider>

<div>
	<textarea
		class="w-full border border-gray-200 font-mono rounded my-3 p-3 resize-none"
		name="text-input_text"
		readonly
		[rows]="rows"
		[ngModel]="text"
		(click)="handleClickInput($event)"
	></textarea>
</div>
