<div class="options">
	<!-- TODO: i18n -->
	<mat-checkbox class="gear_action-show_surplus_items" [(ngModel)]="dataService.deck.options.showSurplusItems" color="accent">
		{{ dataService.i18n.item_show_surplus_items }}
	</mat-checkbox>

	<div class="options-spacer"></div>

	<!-- TODO: i18n -->
	<button class="gear_action-sort" mat-stroked-button [matMenuTriggerFor]="gearSortMenu">
		<mat-icon>sort</mat-icon> {{ dataService.localization.ui["sortby"] }}
		{{ selectedGearSortOption?.label }}
	</button>

	<mat-menu #gearSortMenu="matMenu" class="gear_sort-options options-sort-options">
		<button
			*ngFor="let sortOptions of dataService.itemSortOptions"
			class="gear_sort-option options-sort-option"
			[value]="sortOptions.id"
			mat-menu-item
			(click)="handleClickGearSortOption(sortOptions.id)"
		>
			{{ sortOptions?.label }}
		</button>
	</mat-menu>

	<button class="gear_action-direction option-sort-direction" mat-stroked-button (click)="handleClickGearSortDirection()">
		<mat-icon>menu</mat-icon><mat-icon>{{ this.selectedGearSortDirection === -1 ? "north" : "south" }}</mat-icon>
	</button>
</div>
<div class="grid required" [class.hide-surplus]="!dataService.deck.options.showSurplusItems">
	<ba-item-icon *ngFor="let id of ids" [id]="id"></ba-item-icon>
</div>
