<div class="actionbar">
	<!-- i18n -->
	<mat-checkbox class="favor_action-show_unused_favor" [(ngModel)]="dataService.deck.options.showUnusedFavor" color="accent">
		{{ dataService.i18n.favor_show_unused_favor }}
	</mat-checkbox>
</div>
<div class="flex flex-col items-stretch gap-3 p-2" [class.hide-unused]="!dataService.deck.options.showUnusedFavor">
	<div *ngFor="let item of items" class="shadow rounded-md shadow-neutral-400 flex items-center" [class.unused]="item.unused">
		<div class="shrink-0 grow-0">
			<ba-item-icon [id]="item.id" [hideAmount]="true" [hideShadow]="true" [hideName]="true"></ba-item-icon>
		</div>
		<div class="flex-1 flex-wrap flex gap-2 px-1 py-2 items-center">
			<ng-container *ngFor="let favor of item.favors; index as i">
				<div class="flex items-center gap-2">
					<mat-icon class="!size-8 text-[32px] !block shrink-0 text-neutral-500" *ngIf="i > 0">chevron_right</mat-icon>
					<div class="flex flex-col gap-1 items-center pt-6">
						<img [src]="favor.icon" width="31" class="shrink-0" />
						<div class="text-center text-sm">{{ favor.amount }}</div>
					</div>
				</div>
				<div *ngFor="let studentId of favor.studentIds" class="flex flex-col gap-2">
					<ba-student-icon [id]="studentId" [small]="true" [hideType]="true" [hideName]="false"></ba-student-icon>
				</div>
			</ng-container>
		</div>
	</div>
</div>
